# Created by .ignore support plugin (hsz.mobi)
将删除 .gitignore
将删除 .idea/libraries/org_eclipse_paho_client_mqttv3_1_0_2__2_.xml
将删除 src/test/resources/
将删除 target/generated-sources/
将删除 target/generated-test-sources/
